body{
    background-color: deeppink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;


}
h1{
    color: white;
    text-align: center;
    font-size: xx-large;
}
a{
    color: darkmagenta;
}
#botao{
    
    
}

button{
    
        margin: 80px;
    padding: 10px;
        font-size: 15px;
    
        text-align: center;
        color: rgb(248, 20, 218);
        border: 3px solid #fdfdfd;
        border-radius: 6%;
    }  
